<% banner = @banners.sample%>
<div class="panel <%= banner_style(banner.style) %> margin-bottom">
  <%= link_to banner.link do %>
    <h2><%=banner.title%></h2>
    <h3>Ya están disponibles los resultados de la encuesta</h3>
  <% end %> 
</div>