// Place all the styles related to the banner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 01. Banners
// - - - - - - - - - - - - - - - - - - - - - - - - -

.panel {

  &.banner-one {
     background: $banner_one-bg image-url('banners/banner1.png') no-repeat;
  }
  &.banner-two {
     background: $banner_two-bg image-url('banners/banner1.png') no-repeat;
  }
  &.banner-three {
     background: $banner_three-bg image-url('banners/banner1.png') no-repeat;
  }
  &.banner-four {
     background: $banner_four-bg image-url('banners/banner1.png') no-repeat;
  }
  
  &.banner-one, &.banner-two, &.banner-three , &.banner-four {
    background-position: bottom right;
    padding: $line-height/2;
    margin: $line-height 0;
    margin-top: 0;
  }

  h2, h3, a {
    color: #eaeaf2;
  }

  a:hover h2, a:hover h3 {
    color: #eaeaf2 !important;
    text-decoration: none;
  }

}
