// Place all the styles related to the banner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 01. Banners
// - - - - - - - - - - - - - - - - - - - - - - - - -

.banner-one {
  background: $featured image-url('banners/banner1.png') no-repeat;
}

.banner-two {
   background: $highlight image-url('banners/banner2.png') no-repeat;
}

.banner-three {
   background: $budget image-url('banners/banner3.png') no-repeat;
}

.banner-four {
   background: $brand image-url('banners/banner4.png') no-repeat;
}

.banner-one, .banner-two, .banner-three, .banner-four {
  background-position: bottom right;
  padding: $line-height/2;
  margin: 0;
  margin-bottom: $line-height;

  h2, h3, a {
    color: #eaeaf2;
  }

  a:hover h2, a:hover h3 {
    color: #eaeaf2 !important;
    text-decoration: none;
  }
}
